@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;
@use "../../styles/typography.scss" as t;
@use "../../styles/animations.scss" as a;

.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px;
  gap: 20px;

  width: 640px;

  background: v.$color-white;
  box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
  border-radius: 7px;

  @include a.slideRight;

  .user-photo {
    width: 100px;
  }

  .user-feedback {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .username {
      @include t.h5(v.$color-dark-gray);
    }

    .stars {
      display: flex;
      gap: 10px;

      img {
        width: 20px;
      }
    }

    .review {
      @include t.small-text(v.$color-dark-gray);
    }
  }
}
